.settings {
    display: flex;
    flex-direction: column;
    color: var(--gray-color);
    flex: 1;
    /* color: red; */
}

.settings__box {
    padding: 8rem 8rem 0 ;
    /* max-width: 500px; */
    width: clamp(320px, 700px, 100%);
    margin: 0 auto;
}

.settings__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.settings__title {
    margin-bottom: 2rem;
}

.settings__userPhoto {
    display: flex;
    gap: 3rem;
    align-items: center;
    font-size: 16px;
}

.settings__picture {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}
